.App {
    margin: 0 auto;
    height: 100vh;
    /* background-color: rgb(185, 185, 253); */
}

.App-spin {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
